.ricerca{
    box-shadow: none!important;
}

.nav-destra-drop{
    right: 0;
    left: unset!important;
}

.black{
    background-color: black;
}

.w-100{
    width: 100%;
}
.play-menu{
    max-width: 160px;
}


.carousel-indicators [data-bs-target] {
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    text-indent: 0;
}

.carousel-indicators .row-cols-2>* {
    flex: 0 0 auto!important;
    width: 50%!important;
    height: auto!important;
}

@media (min-width:576px) {
    .carousel-indicators .row-cols-sm-3>* {
        flex: 0 0 auto!important;
        width: 33.3333333333%!important ;
        height: auto!important;
    }   
}

@media (min-width:1400px) {   
    .carousel-indicators .row-cols-xxl-6>* {
        flex: 0 0 auto!important;
        width: 16.6666666667%!important;
        height: auto!important;
    }
}


.jumbotron-primo{
    width: 100%;
    height: 80vh;
    background-image: url(../img/jumbo-bg.png);
    background-position-y: top;
    background-position-x: center;
}

.jumbotron-secondo{
    width: 100%;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position-y: top;
    background-position-x: center;
}
#taketwo{
    background-color: black;
}

.jumbotron-primo img,
#accessori img{
    width: 50%;
}
#accessori .col{
    opacity: 0.5;
}

#accessori .col.active{
    opacity: 1;
}

.bg-orange{
    background-color: #cd3d0f;
}
.bg-light-brown{
    background-color: #d9dadc;
}

.bg-darkblue{
    background-color: #161C3B;
}


.bg-blue{
    background-color: #00439C;
}

.c-blue{
    color: #0072ce;
}
.bg-brown{
    background-color: #bebcbb;
}
.giochi img{
    border-radius: 20px;
}
img{
    width: 100%;
}
.giochi .radius-25{
    position: relative;
    bottom: 0;
    margin-top: 9px;
    transition: bottom  0.5s;
}

.carousel-indicators .active {
    box-sizing: border-box;
    opacity: 1;
    border-radius: 25px;
    border: 5px solid #00439C;
}


.carousel-item,
.carousel-control-prev,
.carousel-control-next
{
    height: 80vh;
}

.carousel-item>img{
    height: 100%;
    object-fit: cover;
    object-position: top;
}
.carosel-caption img{
    width: 50%;
}

.carosel-caption {
    position: absolute;
    bottom: 1.25rem;
    left: 10%;
    color: #fff;
}